<mat-card class="new-post-area">
    <h1>Create a new post</h1>
    <br>
    <form #newPostForm=ngForm autocomplete="off" (ngSubmit)="Submit()">
        <mat-form-field class="input-wrapper" appearance="outline">
            <mat-label>Enter a title</mat-label>
            <input matInput placeholder="Title" [(ngModel)]="newPost.title" name="title" required>
          </mat-form-field>
          <!-- Display server error -->
          <div class="server-error" *ngIf="form.get('Title')?.errors?.serverError"> 
            *ServerValidation {{this.form.get('Title')?.errors?.serverError}}
          </div>

          <mat-form-field class="input-wrapper" appearance="outline">
            <mat-label>Enter a text</mat-label>
            <textarea  cdkTextareaAutosize matInput placeholder="Text" [(ngModel)]="newPost.text" name="text" required></textarea>
          </mat-form-field>
          <!-- Display server error -->
          <div class="server-error" *ngIf="form.get('Text')?.errors?.serverError"> 
            *ServerValidation {{this.form.get('Text')?.errors?.serverError}}
          </div>

          <div class="example-button-row">
            <button mat-flat-button color="primary" [routerLink]="['/posts']">Back</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="newPostForm.invalid">Create</button>
          </div>
    </form>
</mat-card>
