.new-post-area{
    max-width:800px;
    margin: 50px auto;
    padding: 30px 50px 30px;
    border-radius: 10px;
}

.input-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.server-error{
  font-size: small;
  font-style: italic;
  color: rgb(253, 39, 24);
  margin-top: -15px;
  margin-bottom: 10px;
}
