<mat-card class="register-area">
    <h1>Register a new account</h1>
    <br>
    <form #registerForm=ngForm autocomplete="off" (ngSubmit)="Submit()">
      <mat-form-field class="input-wrapper" appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput [(ngModel)]="signUpModel.username" name="username" required>
      </mat-form-field>
      <div class="server-error" *ngIf="form.get('Username')?.errors?.serverError"> 
        *ServerValidation {{this.form.get('Username')?.errors?.serverError}}
      </div>
    
      <mat-form-field class="input-wrapper" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="signUpModel.password" name="password" required>
      </mat-form-field>
      <div class="server-error" *ngIf="form.get('Password')?.errors?.serverError"> 
        *ServerValidation {{this.form.get('Password')?.errors?.serverError}}
      </div>

      <mat-form-field class="input-wrapper" appearance="fill">
        <mat-label>Retry your password</mat-label>
        <input matInput [(ngModel)]="signUpModel.retryPassword" name="retryPassword" required>
      </mat-form-field>
      <div class="server-error" *ngIf="form.get('RetryPassword')?.errors?.serverError"> 
        *ServerValidation {{this.form.get('RetryPassword')?.errors?.serverError}}
      </div>

      <button mat-flat-button class="wide-register-button" color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
      <!-- Sign in validation -->
      <!-- <div class="invalid-login-error" *ngIf="signInError">
        <mat-icon>error</mat-icon>        
        {{signInError }} 
      </div> -->
    </form>
</mat-card>