.register-area{
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 50px 60px;
    border-radius: 10px;
}

.input-wrapper {
    margin: 0 auto;
    width: 100%;
  }

.wide-register-button{
    width: 100%;
}

.server-error{
    font-size: small;
    font-style: italic;
    color: rgb(253, 39, 24);
    margin-top: -15px;
    margin-bottom: 10px;
  }