.example-spacer {
  flex: 1 1 auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

 .main-container{
    width: 70%;
    height: auto;
    padding: 1% 15%;
} 

.mat-icon{
  margin-right: 12px;
}

.active-logo{
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 5px;
}
.active-logo:hover{
  background-color: rgba(80, 31, 92, 0.75);
  cursor: pointer;
}

.line{
  width: 100px;
  position: absolute;
  top: 35px;
}

.hello{
  display: inline-block;
  font-size: medium;
  color: rgb(233, 233, 233);
  padding: 0 30px;
  text-decoration: underline;
}

