<div>
  <mat-toolbar color='primary'>
    <mat-toolbar-row class="toolbar-margin">
      <div class="active-logo" [routerLink]="['/posts']">
        <mat-icon class="mat-icon">message</mat-icon>
        <h1>FORUM</h1>
        <hr class="line">
      </div>
      <span class="example-spacer"></span>
      <div class="example-button-row" *ngIf="navBarSwitcher();else signout">
        <button mat-flat-button color="primary" [routerLink]="['/register']">Sign Up</button>
        <button mat-flat-button color="primary" [routerLink]="['/login']">Sign In</button>
      </div>

      <ng-template #signout>
        <div class="example-button-row">
          <div class="hello">Hello, {{service.getCurrentUsername()}}</div>
          <button mat-flat-button color="primary" [routerLink]="['/users']">Users</button>
          <button mat-flat-button color="primary" (click)="logOut()">Sign Out</button>
        </div>
    </ng-template>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="main-container">

  <router-outlet></router-outlet>
</div>

<div class="footer">
</div>



