<div class="comments-title">Comments <span matBadge={{comments?.length}} matBadgeOverlap="true"></span> </div>
<mat-progress-bar *ngIf="progressBarLoading" mode="query"></mat-progress-bar>

<mat-card class="comment-section" *ngFor="let comment of comments?.slice(0,commentsEnd)">
    <mat-card-title >{{getUsernameById(comment.userId)}}</mat-card-title>
    <mat-card-subtitle>{{comment.creationDate | date:'medium'}}</mat-card-subtitle>
    <mat-card-content>{{comment.message}}</mat-card-content>
    <button *ngIf="role == 'Admin'" mat-flat-button color="warn" (click)="deleteComment(comment.commentId)">
      Delete comment
    </button>
  </mat-card>

  <div class="button-show-more">
  <button mat-flat-button color="accent"  (click)="showMoreComments()" [disabled]="buttonDisabled">Show more <mat-icon>sync</mat-icon></button>
  
</div>


