.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;
}

.wrong-route{
    /* width: 600px; */
    width: 500px;
    margin: 0 auto;
}

.error-message-title{
    color:white;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 auto 30px;
}

.error-message{
    color:white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto 30px;
}

.go-home{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.1s linear;
}
.go-home:hover{
    color:gray;
    cursor: pointer;
}