<div class="error-container">
    <div class="error-message-title">Ooopss..</div>
    <div class="error-message">This page doesn't exist. </div>
    <div class="go-home" [routerLink]="['/posts']">Go home</div>
    <!-- <img class="wrong-route" src="assets\img\routeError.png" alt="routeError"> -->
    <img class="wrong-route" src="assets\img\errorPage.png" alt="routeError">
</div>
