<div class="add-comments-title">Write a comment</div>
<mat-card class="add-comment-section">
    <br>
    <form #newPostForm=ngForm autocomplete="off" (ngSubmit)="Submit()">
        <mat-form-field class="input-wrapper" appearance="outline">
            <mat-label>Your comment</mat-label>
            <textarea  cdkTextareaAutosize matInput placeholder="Message" [(ngModel)]="newComment.message" name="message" required></textarea>
          </mat-form-field>
          <!-- Display server validation -->
          <div class="server-error" *ngIf="form.get('Message')?.errors?.serverError"> 
            *ServerValidation {{this.form.get('Message')?.errors?.serverError}}
          </div>

          <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="newPostForm.invalid">Create</button>
          </div>
    </form>
</mat-card>