.add-comment-section{
    margin-top: 20px;
}

.add-comments-title{
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-size: x-large;
}

.input-wrapper {
    margin: 0 auto;
    width: 100%;
}

.server-error{
    font-size: small;
    font-style: italic;
    color: rgb(253, 39, 24);
    margin-top: -15px;
    margin-bottom: 10px;
  }