<mat-card class="login-area">
    <h1>Login into your accout</h1>
    <br>
    <form #loginForm=ngForm autocomplete="off" (ngSubmit)="Submit()">
      <mat-form-field class="input-wrapper" appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput [(ngModel)]="signInModel.username" name="username" required>
      </mat-form-field>
    
      <mat-form-field class="input-wrapper" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [(ngModel)]="signInModel.password" name="password" required>
      </mat-form-field>
      <button mat-flat-button class="wide-login-button" color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      <!-- Sign in validation -->
      <div class="invalid-login-error" *ngIf="signInError">
        <mat-icon>error</mat-icon>        
        {{signInError }} 
      </div>
    </form>
</mat-card>
