.login-area{
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 50px 60px;
    border-radius: 10px;
}
  
.input-wrapper {
  margin: 0 auto;
  width: 100%;
}

.wide-login-button{
    width: 100%;
}

.invalid-login-error{
  font-size: large;
  font-style: italic;
  color: rgb(253, 39, 24);
  width: 100%;
  margin: 15px auto -20px;
  text-align: center;
  vertical-align: text-bottom;
}