.input-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.dialog-content{
    width: 800px;
    padding: 10px 40px;
}

.server-error{
  font-size: small;
  font-style: italic;
  color: rgb(253, 39, 24);
  margin-top: -15px;
  margin-bottom: 10px;
}