<mat-dialog-content class="dialog-content">
    <h1>Edit post</h1>
    <form #editPostForm=ngForm autocomplete="off" (ngSubmit)="submit()">
        <mat-form-field class="input-wrapper" appearance="outline">
            <mat-label>Edit a title</mat-label>
            <input matInput placeholder="Enter a new title" [(ngModel)]="editedPost.title" name="editTitle" maxlength="500" required>
        </mat-form-field>
        <div class="server-error" *ngIf="form.get('Title')?.errors?.serverError"> 
            *ServerValidation {{this.form.get('Title')?.errors?.serverError}}
          </div>

        <mat-form-field class="input-wrapper" appearance="outline">
            <mat-label>Enter a text</mat-label>
            <textarea  cdkTextareaAutosize matInput placeholder="Enter a new text" [(ngModel)]="editedPost.text" name="editTtext" required></textarea>  
        </mat-form-field>
        <div class="server-error" *ngIf="form.get('Text')?.errors?.serverError"> 
            *ServerValidation {{this.form.get('Text')?.errors?.serverError}}
          </div>
        
        
        <div class="example-button-row">
            <button mat-flat-button mat-dialog-close color="primary" >Cancel</button>
            <button mat-flat-button  color="primary" type="submit" [disabled]="editPostForm.invalid">Edit</button>
        </div>
        <mat-progress-bar *ngIf="editLoading"></mat-progress-bar>
        

    </form>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <div class="example-button-row">
        <button mat-flat-button mat-dialog-close color="primary" >Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="editPostForm.invalid">Edit</button>
    </div>
</mat-dialog-actions> -->

