.post{
    margin: 10px;
    padding: 10px
}

.divider-wrapper{
    padding-bottom: 10px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.spinner-wrapper{
  display: flex;
  justify-content: center;
  padding: 50px;
}