
<div class="post">
  <div *ngIf="loadingSpinner; then spinner else postblock"></div>

  <ng-template #spinner>
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
    
  <ng-template #postblock>
    <mat-card>
      <mat-card-title>
        {{post?.title}} 
      </mat-card-title>    
      <br>                
      <mat-card-subtitle>{{post?.published | date:'medium'}}</mat-card-subtitle>               
      <mat-divider class="divider-wrapper" [inset]="true"></mat-divider>    
      <mat-card-content>{{post?.text}}</mat-card-content>
      <mat-divider class="divider-wrapper" [inset]="true"></mat-divider>    
      <div class="example-button-row">
        <button mat-flat-button color="primary" [routerLink]="['/posts']">Back</button>
        <button mat-flat-button color="primary" [routerLink]="['/posts/'+post?.postId+'/comments']">Show comments</button>
        <button mat-flat-button color="primary" [routerLink]="['/posts/'+post?.postId+'/addcomment']">Write comment</button>
        <button *ngIf="role && isYourPost(post.userId)" mat-flat-button color="primary" (click)="openEditDialog()">Edit post</button>
        <button *ngIf="role == 'Admin'" mat-flat-button color="warn" (click)="deletePost()">Delete post</button>
        <mat-progress-bar *ngIf="progressBarLoading" mode="query"></mat-progress-bar>
      </div>
    </mat-card>
  </ng-template>
    
    <router-outlet></router-outlet>

  </div>

