.post{
    margin: 10px;
    padding: 5px;
}

.divider-wrapper{
    padding-bottom: 10px;
}

/* .title-link{
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
}

.title-link:hover{
    color: darkgrey;
} */

.active-link{
    transition: 0.15s linear;
}

.active-link:hover{
    transform: scale(1.01, 1.03);
    background-color: #4e4e4e;
    cursor: pointer;
}

.pagination-section{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination-element{
    margin: auto 10px;
}

.pagination-info{
    color: grey;
    font-size: medium;
}

.add-post-txt{
    margin: 10px;
    display: inline-block;
    color: white;
    font-size: x-large;
    vertical-align: middle;
}

.spinner-wrapper{
    display: flex;
    justify-content: center;
    padding: 50px;
}