<div class="post">
  <button mat-fab color="primary" [routerLink]="['/posts/create']"><mat-icon>add</mat-icon></button> 
  <div class="add-post-txt">New post</div>
</div>

<!-- if too much data on page you can enable a loading spinner -->
<div *ngIf="loadingSpinner; then spinner else allposts"></div>

<ng-template #spinner>
  <div class="spinner-wrapper" >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>


<ng-template #allposts>
  <div class="post" *ngFor="let post of posts">  
    <mat-card class="active-link" [routerLink]="['/posts', post.postId]">
      <mat-card-title>
        {{post.title}} 
      </mat-card-title>    
      <br>                
      <mat-card-subtitle>{{post.published | date:'medium'}}</mat-card-subtitle>               
      <mat-divider class="divider-wrapper" [inset]="true"></mat-divider>    
      <!-- <mat-card-content>{{post.text}}</mat-card-content> -->
  
    
    </mat-card>
    <router-outlet></router-outlet>
  </div>
</ng-template>



<div class="post"> 
  <mat-paginator [length]="postsCount"
                [pageSize]="pageSize"
                [pageSizeOptions]="[1, 3, 5, 10]"
                (page)="onPaginateChange($event)">
  </mat-paginator>
</div>


<!-- <div class="pagination-section"> 
  <button class="pagination-element" mat-fab color="primary" aria-label="Previous page"  [disabled]="previousPageDisabled"  (click)="previousPage()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <div class="pagination-info pagination-element">Page: {{staticCurrentPage}}</div>
  <button class="pagination-element" mat-fab color="primary" aria-label="Next page" [disabled]="staticNextPageDisabled" (click)="nextPage()" >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div> -->


